input {
  height: 32px;
  border: none;
}

.container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 1rem;
  padding: 5%;
}

#inputs-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  overflow-y: scroll;
  padding: 2rem;
  background-color: #0a7ff5;
  border: #0a7ff5 solid 2rem;
  border-radius: 8px;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.input-container>input {
  width: 100%;
  border-radius: 4px;
  padding: 0 0.5rem;
}

#valid-expression-container {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#valid-expression-container>input {
  width: 70%;
  height: 2.3rem;
  border: solid black 1px;
  border-radius: 4px;
  padding: 0 0.5rem;
}

#valid-button {
  height: 100%;
  width: 25%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #fc1c1c;
}

#valid-button:hover {
  cursor: pointer;
}

#add-row-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 2rem;
}

#add-row-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: #2b9e28;
  color: white;
  border-radius: 5px;
}

#add-row-button:hover {
  cursor: pointer;
}

.input-container>img {
  max-width: 2rem;
}

#inputs-container::-webkit-scrollbar {
  width: 6px;
}

#inputs-container::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
}