.container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

input {
  height: 35px;
  font-size: 18px;
}

.input-container {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  padding: 1rem;
}